body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
.IntroVid{
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.ShopNowBtn{
    position: absolute;
    color: white;
    margin: 70vh auto auto 49vw;
    z-index: 2;
    background-color: transparent;

}